.teacher * {
  margin: 0 0 0.9rem 0;
}
.teacher__name {
  font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: baseline;
}
.price {
  margin: 0;
}

.priceSlider {
  height: 7px;
  appearance: none;
  background-color: rgb(59, 179, 189);
  outline: none;
  opacity: 0.7;
  margin: 1rem 0;
}

.priceSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(59, 179, 189);
}

.priceSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(59, 179, 189);
}

.priceSlider::-ms-thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(59, 179, 189);
}

.alignPrice {
  display: flex;
  align-items: center;
}

.resetPrice {
  position: relative;
  margin-left: 7px;
  border-radius: 50%;
  background-color: #dadfe1;
  color: gray;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-family: sans-serif;
}
.resetPrice:hover {
  cursor: pointer;
}
.resetPriceCross{
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #8a959e;
}
.filter__options {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 1rem auto 0 auto;
  padding: 0px 0;
  border-radius: 20px;
  max-width: 528px;
}
.filter__options__grayed {
  background-color: #F8F9F9;
}
.hover {
  margin: 0.5rem auto 0 auto;
  padding: 0;
  background-color: transparent;
  align-items: flex-start;
  width: 528px;
}
.flex__column {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 176px;
  padding-left: 1rem;
}
.flex__align {
  display: flex;
  align-items: center;
}
.flex__align span {
  font-size: 14px;
}
.flex__column .filter__type {
  font-size: 12.5px;
  color: #8a959e;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

.filter__padding {
  padding: 0.8rem 0;
}
.filter__padding:hover {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #FCFCFC;
}

.filter__padding__white {
  background-color: white;
  border-radius: 20px;
}

.filter__input {
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  width: 176px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.filter__input__availability {
  width: 176px;
  height: 10px;
  z-index: 1;
}
.filter__input input {
  width: 135px;
}
.availability__popout {
  width: 295px;
  padding: 1rem;
  border-radius: 20px;
}
.availability__popout h3 {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
}
.availability__flex {
  display: flex;
  justify-content: space-between;
}
.availability__options {
  background-color: white;
}
.availability__time {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.availability__time:hover {
    cursor: pointer;
    color: #3bb3bd;
}
.availability__day:hover {
  cursor: pointer;
  color: #3bb3bd;
}
.teacher__contact {
  display: flex;
    flex-direction: column;
}
.teacher__flex {
  display: flex;
  justify-content: space-around;
}
.teacher__flex__baseline {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 8px;
}
.teacher__buttons {
  margin-top: 22px;
  background-color: #0096b2;
  padding: 11px 28px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.teacher__buttons:hover { 
  opacity: 0.8;
}


.card {
  border: none;
  border-radius: 24px;
  background-color: white;
  padding: 20px 24px;
  width: 580px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}


.flipped {
  background-color: deeppink;
}