
.priceSlider {
  height: 7px;
  appearance: none;
  background-color: rgb(59, 179, 189);
  outline: none;
  opacity: 0.7;
  margin: 1rem 0;
}

.priceSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(59, 179, 189);
}

.priceSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(59, 179, 189);
}

.priceSlider::-ms-thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(59, 179, 189);
}

.alignPrice {
  display: flex;
  align-items: center;
}

.resetPrice {
  position: relative;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #dadfe1;
  color: gray;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-family: sans-serif;
}
.resetPrice:hover {
  cursor: pointer;
}
.resetPriceCross{
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #8a959e;
}
.filter__options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  margin: 2rem 4% 0 4%;
  padding: 0px 0;
  border-radius: 20px;
}
.filter__options__grayed {
  background-color: #F8F9F9;
}
.hover {
  margin: 0.5rem 4% 0 4%;
  padding: 0;
  background-color: transparent;
  align-items: flex-start;
}
.flex__column {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 176px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding-left: 1rem;
}
.flex__align {
  display: flex;
  align-items: center;
}
.flex__align span {
  font-size: 13px;
}
.flex__column .filter__type {
  font-size: 12px;
  color: #8a959e;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

.filter__padding {
  padding: 0.8rem 0;
}
.filter__padding:hover {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.filter__padding__white {
  background-color: white;
  border-radius: 20px;
}

.filter__input {
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  width: 176px;
  display: flex;
  justify-content: center;
}

.filter__input input {
  width: 135px;
}

